name: ffd_workspace     # Can be anything
environment:
  sdk: ^3.9.0

publish_to: none

dev_dependencies:
  dart_flutter_team_lints: ^3.2.0
  melos: ^7.0.0
workspace:
  - examples/fullstack/backend
  - examples/fullstack/frontend-cli
  - examples/hello
  - examples/json
  - examples/protobuf_firestore
  - examples/raw_cloudevent
  - functions_framework
  - functions_framework_builder
  - google_cloud
  - integration_test

melos:
  command:
    bootstrap:
      usePubspecOverrides: false

  scripts:
    build:all:
      description: Build all packages that depend on build_runner.
      run: |
        melos run build:1:functions_framework
        melos run build:2:templates
        melos run build:3:leafs

    build:1:functions_framework:
      exec: dart run build_runner build --delete-conflicting-outputs
      packageFilters:
        scope: functions_framework

    build:2:templates:
      exec: dart run build_runner build --delete-conflicting-outputs
      packageFilters:
        scope: "__*__"

    build:3:leafs:
      exec: dart run build_runner build --delete-conflicting-outputs
      packageFilters:
        ignore:
          - functions_framework
          - "__*__"
        dependsOn: build_runner
