# See https://dart.dev/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/

build/
pubspec.lock

# Standard files for Cloud Functions conformance tests
# https://github.com/GoogleCloudPlatform/functions-framework-conformance
function_output.json
serverlog_stderr.txt
serverlog_stdout.txt
