name: fullstack_demo_frontend
description: Flutter frontend for Dart full-stack demo
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  http: ^0.13.0
  json_annotation: ^4.3.0
  provider: ^6.0.0

dev_dependencies:
  build_runner: ^2.0.0
  flutter_test:
    sdk: flutter
  json_serializable: ^6.0.0

flutter:
  assets:
    - assets/config/
  uses-material-design: true
