name: Dart Conformance CI
on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  conformance:
    runs-on: ubuntu-latest
    steps:
    - name: Cache Pub hosted dependencies
      uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest

    - name: Setup Go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568
      with:
        go-version: '^1.16'

    - uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46
      with:
        sdk: stable
    - run: dart --version

    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - run: dart pub upgrade
      working-directory: integration_test

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.8.0
      with:
        functionType: 'http'
        useBuildpacks: false
        # Coordinate changes here with the documentation in `CONTRIBUTING.MD`
        cmd: '"dart integration_test/bin/server.dart --target conformanceHttp"'
        startDelay: 3

    - name: Run CloudEvent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.8.0
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        # Coordinate changes here with the documentation in `CONTRIBUTING.MD`
        cmd: '"dart integration_test/bin/server.dart --target conformanceCloudEvent --signature-type cloudevent"'
        validateMapping: false
        startDelay: 3
