name: Dart Conformance CI
on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  conformance:
    runs-on: ubuntu-latest
    steps:
    - name: Cache Pub hosted dependencies
      uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest

    - name: Setup Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: '^1.16'

    - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
      with:
        sdk: stable
    - run: dart --version

    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
    - run: dart pub upgrade
      working-directory: integration_test

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.8.5
      with:
        functionType: 'http'
        useBuildpacks: false
        # Coordinate changes here with the documentation in `CONTRIBUTING.MD`
        cmd: '"dart integration_test/bin/server.dart --target conformanceHttp"'
        startDelay: 3

    - name: Run CloudEvent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.8.5
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        # Coordinate changes here with the documentation in `CONTRIBUTING.MD`
        cmd: '"dart integration_test/bin/server.dart --target conformanceCloudEvent --signature-type cloudevent"'
        validateMapping: false
        startDelay: 3
