name: Dart Conformance CI
on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  conformance:
    runs-on: ubuntu-latest
    steps:
    - name: Cache Pub hosted dependencies
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: '^1.16'

    - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
      with:
        sdk: stable
    - run: dart --version

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - run: dart pub upgrade
      working-directory: integration_test

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.8.7
      with:
        functionType: 'http'
        useBuildpacks: false
        # Coordinate changes here with the documentation in `CONTRIBUTING.MD`
        cmd: '"dart integration_test/bin/server.dart --target conformanceHttp"'
        startDelay: 3

    - name: Run CloudEvent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.8.7
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        # Coordinate changes here with the documentation in `CONTRIBUTING.MD`
        cmd: '"dart integration_test/bin/server.dart --target conformanceCloudEvent --signature-type cloudevent"'
        validateMapping: false
        startDelay: 3
