# Created with package:mono_repo v6.6.3
name: Dart Lint CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: "analyze_format; Dart 3.9.0; PKGS: _google_cloud_e2e, examples/fullstack/backend, examples/fullstack/frontend-cli, examples/hello, examples/json, examples/protobuf_firestore, examples/raw_cloudevent, functions_framework, functions_framework_builder, google_cloud; `dart analyze`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0;packages:_google_cloud_e2e-examples/fullstack/backend-examples/fullstack/frontend-cli-examples/hello-examples/json-examples/protobuf_firestore-examples/raw_cloudevent-functions_framework-functions_framework_builder-google_cloud;commands:analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0;packages:_google_cloud_e2e-examples/fullstack/backend-examples/fullstack/frontend-cli-examples/hello-examples/json-examples/protobuf_firestore-examples/raw_cloudevent-functions_framework-functions_framework_builder-google_cloud
            os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.9.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - id: _google_cloud_e2e_pub_upgrade
        name: _google_cloud_e2e; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: _google_cloud_e2e
      - name: _google_cloud_e2e; dart analyze
        run: dart analyze
        if: "always() && steps._google_cloud_e2e_pub_upgrade.conclusion == 'success'"
        working-directory: _google_cloud_e2e
      - id: examples_fullstack_backend_pub_upgrade
        name: examples/fullstack/backend; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - name: examples/fullstack/backend; dart analyze
        run: dart analyze
        if: "always() && steps.examples_fullstack_backend_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - id: examples_fullstack_frontend-cli_pub_upgrade
        name: "examples/fullstack/frontend-cli; dart pub upgrade"
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/fullstack/frontend-cli
      - name: "examples/fullstack/frontend-cli; dart analyze"
        run: dart analyze
        if: "always() && steps.examples_fullstack_frontend-cli_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/frontend-cli
      - id: examples_hello_pub_upgrade
        name: examples/hello; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/hello
      - name: examples/hello; dart analyze
        run: dart analyze
        if: "always() && steps.examples_hello_pub_upgrade.conclusion == 'success'"
        working-directory: examples/hello
      - id: examples_json_pub_upgrade
        name: examples/json; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/json
      - name: examples/json; dart analyze
        run: dart analyze
        if: "always() && steps.examples_json_pub_upgrade.conclusion == 'success'"
        working-directory: examples/json
      - id: examples_protobuf_firestore_pub_upgrade
        name: examples/protobuf_firestore; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - name: examples/protobuf_firestore; dart analyze
        run: dart analyze
        if: "always() && steps.examples_protobuf_firestore_pub_upgrade.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - id: examples_raw_cloudevent_pub_upgrade
        name: examples/raw_cloudevent; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - name: examples/raw_cloudevent; dart analyze
        run: dart analyze
        if: "always() && steps.examples_raw_cloudevent_pub_upgrade.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - id: functions_framework_pub_upgrade
        name: functions_framework; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework
      - name: functions_framework; dart analyze
        run: dart analyze
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - id: functions_framework_builder_pub_upgrade
        name: functions_framework_builder; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: functions_framework_builder; dart analyze
        run: dart analyze
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; dart analyze
        run: dart analyze
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
  job_002:
    name: "analyze_format; Dart dev; PKGS: _google_cloud_e2e, examples/fullstack/backend, examples/fullstack/frontend-cli, examples/hello, examples/json, examples/protobuf_firestore, examples/raw_cloudevent, functions_framework, functions_framework_builder, google_cloud, integration_test; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:_google_cloud_e2e-examples/fullstack/backend-examples/fullstack/frontend-cli-examples/hello-examples/json-examples/protobuf_firestore-examples/raw_cloudevent-functions_framework-functions_framework_builder-google_cloud-integration_test;commands:format-analyze_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:_google_cloud_e2e-examples/fullstack/backend-examples/fullstack/frontend-cli-examples/hello-examples/json-examples/protobuf_firestore-examples/raw_cloudevent-functions_framework-functions_framework_builder-google_cloud-integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - id: _google_cloud_e2e_pub_upgrade
        name: _google_cloud_e2e; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: _google_cloud_e2e
      - name: "_google_cloud_e2e; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps._google_cloud_e2e_pub_upgrade.conclusion == 'success'"
        working-directory: _google_cloud_e2e
      - name: "_google_cloud_e2e; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps._google_cloud_e2e_pub_upgrade.conclusion == 'success'"
        working-directory: _google_cloud_e2e
      - id: examples_fullstack_backend_pub_upgrade
        name: examples/fullstack/backend; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - name: "examples/fullstack/backend; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_fullstack_backend_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - name: "examples/fullstack/backend; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.examples_fullstack_backend_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - id: examples_fullstack_frontend-cli_pub_upgrade
        name: "examples/fullstack/frontend-cli; dart pub upgrade"
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/fullstack/frontend-cli
      - name: "examples/fullstack/frontend-cli; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_fullstack_frontend-cli_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/frontend-cli
      - name: "examples/fullstack/frontend-cli; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.examples_fullstack_frontend-cli_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/frontend-cli
      - id: examples_hello_pub_upgrade
        name: examples/hello; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/hello
      - name: "examples/hello; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_hello_pub_upgrade.conclusion == 'success'"
        working-directory: examples/hello
      - name: "examples/hello; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.examples_hello_pub_upgrade.conclusion == 'success'"
        working-directory: examples/hello
      - id: examples_json_pub_upgrade
        name: examples/json; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/json
      - name: "examples/json; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_json_pub_upgrade.conclusion == 'success'"
        working-directory: examples/json
      - name: "examples/json; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.examples_json_pub_upgrade.conclusion == 'success'"
        working-directory: examples/json
      - id: examples_protobuf_firestore_pub_upgrade
        name: examples/protobuf_firestore; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - name: "examples/protobuf_firestore; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_protobuf_firestore_pub_upgrade.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - name: "examples/protobuf_firestore; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.examples_protobuf_firestore_pub_upgrade.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - id: examples_raw_cloudevent_pub_upgrade
        name: examples/raw_cloudevent; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - name: "examples/raw_cloudevent; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_raw_cloudevent_pub_upgrade.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - name: "examples/raw_cloudevent; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.examples_raw_cloudevent_pub_upgrade.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - id: functions_framework_pub_upgrade
        name: functions_framework; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework
      - name: "functions_framework; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - name: "functions_framework; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - id: functions_framework_builder_pub_upgrade
        name: functions_framework_builder; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: "functions_framework_builder; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: "functions_framework_builder; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: "google_cloud; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
      - name: "google_cloud; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: "integration_test; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
      - name: "integration_test; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_003:
    name: "analyze_format; Dart dev; PKG: integration_test; `dart analyze`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:integration_test;commands:analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: integration_test; dart analyze
        run: dart analyze
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_004:
    name: "analyze_format; Flutter stable; PKG: examples/fullstack/frontend; `dart format --output=none --set-exit-if-changed .`, `flutter analyze --fatal-infos`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:examples/fullstack/frontend;commands:format-analyze_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:examples/fullstack/frontend
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Flutter SDK
        uses: subosito/flutter-action@f2c4f6686ca8e8d6e6d0f28410eeef506ed66aff
        with:
          channel: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - id: examples_fullstack_frontend_pub_upgrade
        name: examples/fullstack/frontend; flutter pub upgrade
        run: flutter pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/fullstack/frontend
      - name: "examples/fullstack/frontend; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.examples_fullstack_frontend_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/frontend
      - name: "examples/fullstack/frontend; flutter analyze --fatal-infos"
        run: flutter analyze --fatal-infos
        if: "always() && steps.examples_fullstack_frontend_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/frontend
