# Created with package:mono_repo v6.4.2
name: Dart Lint CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.4.2
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyze_format; Dart 2.18.0; PKGS: dartfn, functions_framework, functions_framework_builder, gcp; `dart analyze`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:2.18.0;packages:dartfn-functions_framework-functions_framework_builder-gcp;commands:analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:2.18.0;packages:dartfn-functions_framework-functions_framework_builder-gcp
            os:ubuntu-latest;pub-cache-hosted;sdk:2.18.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d
        with:
          sdk: "2.18.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - id: dartfn_pub_upgrade
        name: dartfn; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: dartfn
      - name: dartfn; dart analyze
        run: dart analyze
        if: "always() && steps.dartfn_pub_upgrade.conclusion == 'success'"
        working-directory: dartfn
      - id: functions_framework_pub_upgrade
        name: functions_framework; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework
      - name: functions_framework; dart analyze
        run: dart analyze
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - id: functions_framework_builder_pub_upgrade
        name: functions_framework_builder; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: functions_framework_builder; dart analyze
        run: dart analyze
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - id: gcp_pub_upgrade
        name: gcp; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: gcp
      - name: gcp; dart analyze
        run: dart analyze
        if: "always() && steps.gcp_pub_upgrade.conclusion == 'success'"
        working-directory: gcp
  job_003:
    name: "analyze_format; Dart dev; PKGS: dartfn, functions_framework, functions_framework_builder, gcp, integration_test; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:dartfn-functions_framework-functions_framework_builder-gcp-integration_test;commands:format-analyze_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:dartfn-functions_framework-functions_framework_builder-gcp-integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - id: dartfn_pub_upgrade
        name: dartfn; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: dartfn
      - name: "dartfn; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.dartfn_pub_upgrade.conclusion == 'success'"
        working-directory: dartfn
      - name: "dartfn; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.dartfn_pub_upgrade.conclusion == 'success'"
        working-directory: dartfn
      - id: functions_framework_pub_upgrade
        name: functions_framework; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework
      - name: "functions_framework; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - name: "functions_framework; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - id: functions_framework_builder_pub_upgrade
        name: functions_framework_builder; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: "functions_framework_builder; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: "functions_framework_builder; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - id: gcp_pub_upgrade
        name: gcp; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: gcp
      - name: "gcp; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.gcp_pub_upgrade.conclusion == 'success'"
        working-directory: gcp
      - name: "gcp; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.gcp_pub_upgrade.conclusion == 'success'"
        working-directory: gcp
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: "integration_test; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
      - name: "integration_test; dart analyze --fatal-infos"
        run: dart analyze --fatal-infos
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_004:
    name: "analyze_format; Dart dev; PKG: integration_test; `dart analyze`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:integration_test;commands:analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: integration_test; dart analyze
        run: dart analyze
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_005:
    name: Notify failure
    runs-on: ubuntu-latest
    if: "(github.event_name == 'push' || github.event_name == 'schedule') && failure()"
    steps:
      - run: |
          curl -H "Content-Type: application/json" -X POST -d \
            "{'text':'Build failed! ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}'}" \
            "${CHAT_WEBHOOK_URL}"
        env:
          CHAT_WEBHOOK_URL: "${{ secrets.CHAT_WEBHOOK_URL }}"
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
