# Created with package:mono_repo v6.6.3
name: Dart Unit CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: "unit_test; linux; Dart 3.9.0; PKGS: functions_framework_builder, google_cloud, integration_test; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0;packages:functions_framework_builder-google_cloud-integration_test;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0;packages:functions_framework_builder-google_cloud-integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.9.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: functions_framework_builder_pub_upgrade
        name: functions_framework_builder; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: functions_framework_builder; dart test
        run: dart test
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; dart test
        run: dart test
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: integration_test; dart test
        run: dart test
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_002:
    name: "unit_test; linux; Dart 3.9.0; PKG: google_cloud; `./tool/docker_test_script.sh`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0;packages:google_cloud;commands:command"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0;packages:google_cloud
            os:ubuntu-latest;pub-cache-hosted;sdk:3.9.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.9.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; ./tool/docker_test_script.sh
        run: ./tool/docker_test_script.sh
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
  job_003:
    name: "unit_test; linux; Dart dev; PKGS: examples/fullstack/backend, examples/hello, examples/json, examples/protobuf_firestore, examples/raw_cloudevent, functions_framework_builder, google_cloud, integration_test; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:examples/fullstack/backend-examples/hello-examples/json-examples/protobuf_firestore-examples/raw_cloudevent-functions_framework_builder-google_cloud-integration_test;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:examples/fullstack/backend-examples/hello-examples/json-examples/protobuf_firestore-examples/raw_cloudevent-functions_framework_builder-google_cloud-integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: examples_fullstack_backend_pub_upgrade
        name: examples/fullstack/backend; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - name: examples/fullstack/backend; dart test
        run: dart test
        if: "always() && steps.examples_fullstack_backend_pub_upgrade.conclusion == 'success'"
        working-directory: examples/fullstack/backend
      - id: examples_hello_pub_upgrade
        name: examples/hello; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/hello
      - name: examples/hello; dart test
        run: dart test
        if: "always() && steps.examples_hello_pub_upgrade.conclusion == 'success'"
        working-directory: examples/hello
      - id: examples_json_pub_upgrade
        name: examples/json; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/json
      - name: examples/json; dart test
        run: dart test
        if: "always() && steps.examples_json_pub_upgrade.conclusion == 'success'"
        working-directory: examples/json
      - id: examples_protobuf_firestore_pub_upgrade
        name: examples/protobuf_firestore; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - name: examples/protobuf_firestore; dart test
        run: dart test
        if: "always() && steps.examples_protobuf_firestore_pub_upgrade.conclusion == 'success'"
        working-directory: examples/protobuf_firestore
      - id: examples_raw_cloudevent_pub_upgrade
        name: examples/raw_cloudevent; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - name: examples/raw_cloudevent; dart test
        run: dart test
        if: "always() && steps.examples_raw_cloudevent_pub_upgrade.conclusion == 'success'"
        working-directory: examples/raw_cloudevent
      - id: functions_framework_builder_pub_upgrade
        name: functions_framework_builder; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework_builder
      - name: functions_framework_builder; dart test
        run: dart test
        if: "always() && steps.functions_framework_builder_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework_builder
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; dart test
        run: dart test
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: integration_test; dart test
        run: dart test
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_004:
    name: "unit_test; linux; Dart dev; PKGS: functions_framework, integration_test; `dart test --run-skipped -t presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:functions_framework-integration_test;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:functions_framework-integration_test
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: functions_framework_pub_upgrade
        name: functions_framework; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: functions_framework
      - name: "functions_framework; dart test --run-skipped -t presubmit-only"
        run: dart test --run-skipped -t presubmit-only
        if: "always() && steps.functions_framework_pub_upgrade.conclusion == 'success'"
        working-directory: functions_framework
      - id: integration_test_pub_upgrade
        name: integration_test; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: integration_test
      - name: "integration_test; dart test --run-skipped -t presubmit-only"
        run: dart test --run-skipped -t presubmit-only
        if: "always() && steps.integration_test_pub_upgrade.conclusion == 'success'"
        working-directory: integration_test
  job_005:
    name: "unit_test; macos; Dart 3.9.0; PKG: google_cloud; `dart test`"
    runs-on: macos-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: "~/.pub-cache/hosted"
          key: "os:macos-latest;pub-cache-hosted;sdk:3.9.0;packages:google_cloud;commands:test_0"
          restore-keys: |
            os:macos-latest;pub-cache-hosted;sdk:3.9.0;packages:google_cloud
            os:macos-latest;pub-cache-hosted;sdk:3.9.0
            os:macos-latest;pub-cache-hosted
            os:macos-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: "3.9.0"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; dart test
        run: dart test
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
  job_006:
    name: "unit_test; macos; Dart dev; PKG: google_cloud; `dart test`"
    runs-on: macos-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: "~/.pub-cache/hosted"
          key: "os:macos-latest;pub-cache-hosted;sdk:dev;packages:google_cloud;commands:test_0"
          restore-keys: |
            os:macos-latest;pub-cache-hosted;sdk:dev;packages:google_cloud
            os:macos-latest;pub-cache-hosted;sdk:dev
            os:macos-latest;pub-cache-hosted
            os:macos-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; dart test
        run: dart test
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
  job_007:
    name: "unit_test; windows; Dart dev; PKG: google_cloud; `dart test`"
    runs-on: windows-latest
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - id: google_cloud_pub_upgrade
        name: google_cloud; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: google_cloud
      - name: google_cloud; dart test
        run: dart test
        if: "always() && steps.google_cloud_pub_upgrade.conclusion == 'success'"
        working-directory: google_cloud
