# Created with package:mono_repo v3.2.0
name: Dart Unit CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: "OS: linux; SDK: 2.10.0; PKG: functions_framework_builder; TASKS: `pub run test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;packages:functions_framework_builder;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;packages:functions_framework_builder
            os:ubuntu-latest;pub-cache-hosted;dart:2.10.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: cedx/setup-dart@v2
        with:
          release-channel: stable
          version: "2.10.0"
      - run: dart --version
      - uses: actions/checkout@v2
      - env:
          PKGS: functions_framework_builder
          TRAVIS_OS_NAME: linux
        run: tool/ci.sh test_0
  job_002:
    name: "OS: linux; SDK: dev; PKG: functions_framework_builder; TASKS: `pub run test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:functions_framework_builder;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:functions_framework_builder
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: cedx/setup-dart@v2
        with:
          release-channel: dev
      - run: dart --version
      - uses: actions/checkout@v2
      - env:
          PKGS: functions_framework_builder
          TRAVIS_OS_NAME: linux
        run: tool/ci.sh test_0
  job_003:
    name: "OS: linux; SDK: 2.10.0; PKG: test/hello; TASKS: `pub run test -x presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;packages:test/hello;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;packages:test/hello
            os:ubuntu-latest;pub-cache-hosted;dart:2.10.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: cedx/setup-dart@v2
        with:
          release-channel: stable
          version: "2.10.0"
      - run: dart --version
      - uses: actions/checkout@v2
      - env:
          PKGS: test/hello
          TRAVIS_OS_NAME: linux
        run: tool/ci.sh test_1
  job_004:
    name: "OS: linux; SDK: dev; PKG: test/hello; TASKS: `pub run test -x presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:test/hello;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:test/hello
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: cedx/setup-dart@v2
        with:
          release-channel: dev
      - run: dart --version
      - uses: actions/checkout@v2
      - env:
          PKGS: test/hello
          TRAVIS_OS_NAME: linux
        run: tool/ci.sh test_1
  job_005:
    name: "OS: linux; SDK: 2.10.0; PKG: test/hello; TASKS: `pub run test --run-skipped -t presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;packages:test/hello;commands:test_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.10.0;packages:test/hello
            os:ubuntu-latest;pub-cache-hosted;dart:2.10.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: cedx/setup-dart@v2
        with:
          release-channel: stable
          version: "2.10.0"
      - run: dart --version
      - uses: actions/checkout@v2
      - env:
          PKGS: test/hello
          TRAVIS_OS_NAME: linux
        run: tool/ci.sh test_2
  job_006:
    name: "OS: linux; SDK: dev; PKG: test/hello; TASKS: `pub run test --run-skipped -t presubmit-only`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:test/hello;commands:test_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:test/hello
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: cedx/setup-dart@v2
        with:
          release-channel: dev
      - run: dart --version
      - uses: actions/checkout@v2
      - env:
          PKGS: test/hello
          TRAVIS_OS_NAME: linux
        run: tool/ci.sh test_2
