name: Verify Examples
on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  verify_examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example_directory:
          - examples/hello
          - examples/json
          - examples/raw_cloudevent
          - examples/fullstack/backend
          - dartfn/templates/cloudevent
          - dartfn/templates/helloworld
          - dartfn/templates/json
    defaults:
      run:
        working-directory: ${{ matrix.example_directory }}
    steps:
    - name: Cache Pub hosted dependencies
      uses: actions/cache@627f0f41f6904a5b1efbaed9f96d9eb58e92e920
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:${{ matrix.example_directory }}"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted;dart:dev
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest
    - uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46
      with:
        sdk: stable
    - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
    - run: dart --version
    - id: pub_get
      run: dart pub get
    - if: "always() && steps.pub_get.conclusion == 'success'"
      run: dart format --output=none --set-exit-if-changed .
    - if: "always() && steps.pub_get.conclusion == 'success'"
      run: dart analyze --fatal-infos .
    - if: "always() && steps.pub_get.conclusion == 'success'"
      run: dart test
    - if: "always() && steps.pub_get.conclusion == 'success'"
      run: |
        dart run build_runner build  --delete-conflicting-outputs
        export DIFF_OUTPUT="$(git diff)"
        if [[ $DIFF_OUTPUT ]]; then
          echo "::error::Build needs to be re-run!"
          echo "::group::git diff"
          echo "$DIFF_OUTPUT"
          echo "::endgroup::"
          exit 1
        else
          echo "Build output is all good!"
        fi
  notify:
    name: Notify failure
    runs-on: ubuntu-latest
    if: "(github.event_name == 'push' || github.event_name == 'schedule') && failure()"
    steps:
    - run: |
        curl -H "Content-Type: application/json" -X POST -d \
          "{'text':'Build failed! ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}'}" \
          "${CHAT_WEBHOOK_URL}"
      env:
        CHAT_WEBHOOK_URL: "${{ secrets.CHAT_WEBHOOK_URL }}"
    needs:
    - verify_examples
